.container {
    text-align: center;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
}

.content {
    background-color: white;
    height: 1000px;
}

.link:hover{
    text-decoration: underline;
    cursor:pointer;
}

header{
    color:white;
    font-size: 50px;
    line-height: 100px;
}

hr{
    width: 35vw;
}

div#new-post-div{
    font-size: large;
}

div#new-post-div:hover{
    text-decoration: underline;
    cursor: pointer;
}

div.post-title{
    font-size: 40px;
    margin: 10px 0 10px 0;
}

div.post-username{
    font-size: small;
    color: gray;
}

div.post-content{
    font-size: 20px;
    margin: 20px 0 20px 0;
}

div.post-created{
    font-size: small;
    color: gray;
}

div.post-footer{

}

div.setInline{
    display: inline;
}

body {
    margin: 0;
}

header {
    background-color: #E1C7AD;
    height: 110px;
}

aside.left-container {
    background-color: #EAE7D5;
    width: 150px;
    top: 110px;
    bottom: 100px;
}

aside.right-container {
    background-color: #EAE7D5;
    width: 200px;
    left: calc(100vw - 200px);
    top: 110px;
    bottom: 100px;
}

section#main-container {
    left: 150px;
    right: 200px;
    top: 110px;
    bottom: 100px;
    overflow-y: auto;
}

footer {
    background-color: #B7B8B0;
    height: 100px;
    top: calc(100vh - 100px) !important;
}